a,abbr,acronym,address,applet,article,aside,audio,big,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,ul,var,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline}body{line-height:1}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}img{display:block;height:auto;max-width:100%}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;box-sizing:border-box;font-family:sans-serif}*,:after,:before{box-sizing:inherit}a{background-color:transparent}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn,em,i{font-style:italic}h1{font-size:2em;margin:.67em 0}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}mark{background-color:#fdffb6}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}kbd{background:#f6f8fa;border:1px solid rgba(124,139,154,.25);border-radius:6px;box-shadow:inset 0 -1px 0 rgba(124,139,154,.25);font-family:var(--font-mono);font-size:1.5rem;padding:3px 5px}@media (max-width:600px){kbd{font-size:1.3rem}}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{border:none;overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input:focus{outline:none}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}legend{border:0;padding:0}textarea{overflow:auto}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}html{-webkit-tap-highlight-color:rgba(0,0,0,0);font-size:62.5%}body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-feature-settings:"liga" on;background:#fff;color:var(--color-darkgrey);font-family:var(--font-sans);font-size:1.6rem;font-style:normal;font-weight:400;letter-spacing:0;line-height:1.6em;text-rendering:optimizeLegibility}::-moz-selection{background:#daf2fd;color:#f06060;text-shadow:none}::selection{background:#daf2fd;color:#f06060;text-shadow:none}hr{border:0;border-top:1px solid #f0f0f0;display:block;height:1px;margin:2.5em 0 3.5em;padding:0;position:relative;width:100%}audio,canvas,iframe,img,svg,video{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}::not(.gh-content) blockquote,::not(.gh-content) dl,::not(.gh-content) ol,::not(.gh-content) p,::not(.gh-content) ul{margin:0 0 1.5em}ol,ul{padding-left:1.3em;padding-right:1.5em}ol ol,ol ul,ul ol,ul ul{margin:.5em 0}ol,ul{max-width:100%}li{line-height:1.6em;padding-left:.3em}li+li{margin-top:.5em}dt{color:#daf2fd;float:left;font-weight:500;margin:0 20px 0 0;text-align:right;width:120px}dd{margin:0 0 5px;text-align:left}blockquote{border-left:#daf2fd;margin:1.5em 0;padding:0 1.6em}blockquote small{display:inline-block;font-size:.9em;margin:.8em 0 .8em 1.5em;opacity:.8}blockquote small:before{content:"\2014 \00A0"}blockquote cite{font-weight:700}blockquote cite a{font-weight:400}a{color:#15171a;text-decoration:none}h1,h2,h3,h4,h5,h6{font-weight:600;letter-spacing:-.01em;line-height:1.15;margin-top:0;text-rendering:optimizeLegibility}h1{font-size:4.8rem;font-weight:700;letter-spacing:-.015em;margin:0 0 .5em}@media (max-width:600px){h1{font-size:2.8rem}}h2{font-size:2.8rem;font-weight:700;margin:1.5em 0 .5em}@media (max-width:600px){h2{font-size:2.3rem}}h3{font-size:2.4rem;font-weight:600;margin:1.5em 0 .5em}@media (max-width:600px){h3{font-size:1.7rem}}h4{font-size:2rem;margin:1.5em 0 .5em}@media (max-width:600px){h4{font-size:1.7rem}}h5{font-size:2rem}h5,h6{margin:1.5em 0 .5em}h6{font-size:1.8rem}
/*# sourceMappingURL=global.css.map */

#home-main {
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: rgb(246, 155, 155); */
}

.tool {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (orientation: portrait) and (max-width: 620px) {
  .tool {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.tool .tool-item {
  will-change: transform, box-shadow;
  width: 280px;
  height: 200px;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  margin: 40px 10px 40px;
  background-color: #fff;
  box-shadow: 0px 0px 1px rgba(246, 155, 155, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  /* transform: translateY(0px);*/
  transition: 0.3s cubic-bezier(0, 0.11, 0.58, 0.83);
}

.tool .tool-item:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08);
  /* transform: translateY(-4px);*/
  /* transition: 0.4s ease;  */
}

.tool .tool-item .tool-item-top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  /* margin-bottom: 10px; */
  /* background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  ); */
}

.tool .tool-item .tool-item-top > img {
  width: 40px;
  height: 40px;
  padding: 5px 5px 5px 5px;
  box-shadow: 0px 0px 1px rgba(100, 100, 100, 0.5);
  border-radius: 8px;
}

.tool .tool-item .tool-item-top > h3 {
  margin: 0 0 0 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.tool .tool-item > p {
  /* max-height: 125px; */
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  font-size: 12px;
  padding: 0 12px;
  line-height: 18px;
}

.tool .tool-item .tool-item-title {
  height: 60px;
  overflow: hidden;
  padding: 0 12px 12px;
}

.tool .tool-item .tool-item-title > h3 {
  margin-left: 0;
}

.tool .tool-item .tool-item-tags {
  padding: 0 12px 12px 0;
}

.tool .tool-item .tool-item-tags > div {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
}

.tool .tool-item .tool-item-tags .tag {
  display: inline-block;
  border-radius: 0 0 5px 5px;
  padding: 3px 8px;
  background-color: #f2ebf9;
  color: #7e3fca;
}

.tool .tool-item .tool-item-tags .tag:first-child {
  border-radius: 0px 0 9px 0px;
}

.tool .tool-item .tool-item-tags .tag:nth-of-type(2) {
  background-color: #f6e7e6;
  color: #f06060;
}

.tool .tool-item .tool-item-tags .tag:nth-of-type(3) {
  background-color: #fbf2eb;
  color: #d87d41;
}

.tool .tool-item .tool-item-description {
  padding: 0 12px 12px;
}

.tool .tool-item .tool-item-description > p {
  font-size: 12px;
  height: 84px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4 !important;
  line-height: 20px;
}

.tool-item-time {
  padding: 0 12px 12px;
  color: #979797;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 箭头移动 */
.circle-button {
  position: relative;
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  border: 1px solid #f2ebf9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.circle-button .arrow1,
.circle-button .arrow2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: opacity 0.5s ease,
    transform 0.5s cubic-bezier(0, 0.32, 0.41, 1.06);
}

.circle-button .arrow1 {
  opacity: 1;
  transform: translateX(0);
}

.circle-button .arrow2 {
  opacity: 0;
  transform: translateX(-20px);
}

.tool-item:hover .circle-button .arrow1 {
  opacity: 0;
  transform: translateX(20px);
}

.tool-item:hover .circle-button .arrow2 {
  opacity: 1;
  transform: translateX(0);
  background-color: #fbdede;
  color: #fff;
}

.tool-item:not(:hover) .circle-button .arrow1 {
  opacity: 1;
  transform: translateX(0);
}

.tool-item:not(:hover) .circle-button .arrow2 {
  opacity: 0;
  transform: translateX(-20px);
  background-color: #fbdede;
  color: #fff;
}
